@import 'settings';
.c-game__board {
  margin: 0 auto;
  padding: 5px;
  background: $color-secondary-2-1;
  border-left: 0;
  border-bottom: 0;
//  background: transparentize($color-white,.7);
  border-radius: 5px;
  resize: both;
  overflow: auto;
  list-style: none;
  border: 1px solid $color-secondary-2-4;
  @media (min-width: 50em) {
    border: 2px solid $color-gun-metal;
  }
  li{
    margin: 0;
    line-height: 12px;
  }
}

.frame {
  resize: both;
  border-radius: 10px;
  display: inline-block;
  background: grey;
  background: linear-gradient(to bottom, grey, lightgrey, $color-dark-slate-grey);
  margin: 0 auto;
  width: auto;
  position: relative;
  @media (min-width: 50em){
    padding: 30px 15px 10px 15px;
    box-shadow: 30px -20px 80px 20px $color-gun-metal;
    &::after {
      content: '';
      width: 15px;
      height: 15px;
      top: 5px;
      background: black;
      border-radius: 50%;
      border: 2px solid $color-dark-slate-grey;
      position: absolute;
      margin: 0 auto;
    }
  }
}

.row {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 1px;
  }
}

.game__generation {
  color: $color-secondary-2-4;
  margin: 0;
  border-top: 1px solid white;
  padding-top: 5px;
  margin-top: 5px;
  display: block;
  background: $color-secondary-2-1;
  font-size: 1.2em;
  width: inherit;

}
