@import 'settings';

.game__control {
  margin: 10px auto;
  border-radius: 3px;
  background: transparentize($color-white,.8);
  background: $color-dark-slate-grey;
  background: linear-gradient(to right,
    $color-gun-metal,
    $color-dark-slate-grey,
    $color-gun-metal);
  width: inherit;
  @media (min-width: 40em){
    box-shadow: 30px 0 80px 20px $color-gun-metal;
  }

}

.control__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.game__toggle {
  flex-grow: 1;
  padding: 5px;
  font-size: 1.2em;
  margin: 5px;
  border-radius: 3px;
  border: 0;
  box-shadow: 0;
  outline: 0;
  color: $color-secondary-2-4;
  background-color: $color-secondary-2-1;
  background: linear-gradient(to bottom,$color-secondary-2-1,$color-secondary-2-2);

  &:hover {
    background: linear-gradient(to top,$color-secondary-2-1,$color-secondary-2-2);
    cursor: pointer;
  }
  @media (min-width: 40em){
    width: inherit;
    display: inline-block;
  }
}
