@import "settings";

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  background: $color-secondary-2-1;
  height: 100%;
  margin: 2px;
  @media(min-width: 40em) {
    margin-top: 10px;
  }
}
.svg-sprite {
  display: none;
}
.container{
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  @media(min-width: 40em) {
    padding: 10px;
    box-shadow: 0;
  }
  width: 100%;
  text-align: center;
}

.c-app__container {
  text-align: center;
  display: inline-block;
}
.brand{
  font-size: 3em;
  margin: 10px auto;
  text-align: center;
  color: $color-secondary-2-0;
  text-shadow: 0 -1px 1px $color-secondary-2-3,
    -1px -2px 1px $color-secondary-2-4,
    -1px -1px 13px $color-white;
}
